.listNameWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 1em;
}

.pickedInfo {
  margin-top: 1em;
  gap: 1em;
  align-content: center;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em .5em;
}

.shareWrapper {
  display: flex;
  padding: 10px;
}

.share {
  align-self: center;
  margin: auto;
  transition: background-color 0.2s ease-out;

  &.clicked {
    background-color: #5cb85c;
    color: white;
  }
}
