.listNameWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 1em;
}

.pickedInfo {
  margin-top: 1em;
  gap: 1em;
  align-content: center;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em .5em;
}

.shareWrapper {
  display: flex;
  justify-content: center;
  padding: 10px;

  > input {
    border: none;
    background: none;
    background-color: white;
    border-radius: 5px 0 0 5px;
    padding: .5em 1em;
  }
}

.share {
  align-self: center;
  // margin: auto;
  transition: background-color 0.2s ease-out;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #009578;
  &.clicked {
    background-color: #5cb85c;
    color: white;
  }
}
