.crit_header {
  display: flex;
  width: 100%;
  align-items: center;
}

.crit_header_logo {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  line-height: 0;
  margin: 1em 2em;
  border: 2px solid white;
  padding: 0.5em;
  border-radius: 20%;
  box-shadow: unset;
  transition: box-shadow 0.2s;
}

.crit_header_logo:hover {
  box-shadow: 0 0 6px #fff;
}

.crit_centered {
  display: flex;
  justify-content: center;
  width: 100%;
}

.crit_header_title {
  align-self: center;
  margin: 1em auto;
}

.crit_content {
  flex: 1;
}

.crit_navigator {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 1em;
  display: flex;
  gap: 1em;
}

.crit_navigator span { 
  display: flex;
  gap: 0.5em;
  flex: 1;
}

.crit_navigator span.align-end {
  justify-content: flex-end;
}

.crit_navigator a {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  max-height: 34px;
  color: #333;
  text-decoration: none;
  box-shadow: none;
  transition: background-color 0.2s;
}

.crit_navigator a > img {
  position: relative
}

.crit_navigator a:hover {
  background-color: #f5f5f5;
}

.crit_footer {
  display: flex;
  padding: 0.5rem 0;
  margin: 1rem 2rem 0;
  border-top: 1px solid #e5e7eb;
  justify-content: center;
  align-items: center;
}
