.crit_header {
  display: flex;
  width: 100%;
  align-items: center;
}

.crit_header_logo {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  line-height: 0;
  margin: 1em 2em;
}

.crit_header_title {
  align-self: center;
  margin: 1em auto;
}

.crit_content {
  flex: 1;
}

.crit_navigator {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 1em;
  display: flex;
  gap: 1em;
}

.crit_navigator a {
  background-color: #d8d8d8;
  border-radius: 5px;
  gap: 0.5em;
  padding: 0.5em;
  color: black;
  text-decoration: none;
}

.crit_footer {
  display: flex;
  padding: .5rem 0;
  margin: 1rem 2rem 0;
  border-top: 1px solid #e5e7eb;
  justify-content: center;
  align-items: center;
}
