html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

main {
  flex: 1 1;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

code {
  padding: 0.3em;
  background-color: #d8d8d8;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: white;
    background: #009578;
  }

  code {
    color: black;
  }
}
