.cardWrapper {
  display: flex;
  flex-flow: column nowrap;
}

.card {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

.card:hover {
  box-shadow: 0 0 12px #a3a3a3;
}

.saveWish {
  display: none;
  overflow: hidden;
  transform: translate(155px, 165px);
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity .2s;
}

.deleteWish {
    position: absolute;
    background: none;
    transform: translate(-10px, -10px) rotate(45deg);
    background-color: #fff;
    color: #444;
    width: 22px;
    height: 22px;
    font-size: 19px;
    border: none;
    box-shadow: 0px 0px 2px black;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .1s;
    transition-property: background-color, color, transform;
}

.deleteWish:hover {
    transform: translate(-10px, -10px) rotate(calc(360deg + 45deg));
    transition-duration: .2s;
    background-color: rgb(255, 86, 86);
    color: #fff;
}

.saveWish.active {
  display: unset;
  opacity: 1;
}
