.cardWrapper {
  display: flex;
  flex-flow: column nowrap;
}

.card {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
  
  &:hover {
    box-shadow: 0 0 12px #a3a3a3;
  }
}


.saveWish {
  display: none;
  overflow: hidden;
  transform: translate(155px, 165px);
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.deleteWish {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0; /* ios fix for stretching delete button */
  color: #444;
  background-color: #fff;
  transform: translate(-10px, -10px);
  border: none;
  box-shadow: 0px 0px 2px black;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, transform, box-shadow;
  
  > img {
    padding: 2px;
    opacity: 0.8;
    transition: filter .2s;
  }

  &:hover {
    transform: translate(-10px, -10px);
    transition-duration: 0.2s;
    background-color: rgb(255, 86, 86);
    box-shadow: 0 0 15px #f00;
    
    > img {
      opacity: 1;
      filter: invert(1);
    }
  }  
}


.saveWish.active {
  display: unset;
  opacity: 1;
}
