.container {
  padding: 1rem;
  text-align: center;
}

.main {
  backdrop-filter: blur(3px);
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  min-width: 250px;
  max-width: 600px;
  padding: 0.5em;
  flex: 1 1;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    padding: 0.4em;
    position: relative;
    margin: 2em;
    border-radius: 0.7em;
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
