.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  border: none;
  border-radius: 5px;
  margin: 3rem auto;
  padding: 2em;
  box-shadow: 0 0 5px lightslategray;
  background-color: white;
}

.buttonWrapper {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.inputlabel {
  opacity: 0;
  font-size: small;
  color: #333;
  transition: opacity 0.2s;

  /* show label when next input is filled */
  &:has(+ input:not(:placeholder-shown)) {
    opacity: 1;
  }
}

.textfield {
  background-color: #f5f5f5;
  outline-width: 0;
  padding: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid lightslategray;
  transition: background-color 0.2s;

  &:focus {
    background-color: #eee;
  }
}

.darktext {
  color: #333;
}

.sm {
  margin-top: -1em;
  font-size: smaller;
}

.wrapper button {
  background-color: #009577;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  flex: 1;
  color: white;
  cursor: pointer;

  &:disabled {
    background-color: #6b8276;
  }

  &.secondary {
    background-color: #816c61;
  }
}

.loginMethods {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
