.add-note {
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}


/* .loading {
    background: rgba(0, 0, 0, 0.05);
} */